{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<a href="{{ post.url | absolute_url }}" rel="permalink">
  <div class="imageWithTextOverlay">
      <img src="{{post.header.image}}" style="margin-bottom:0;">
        <h2 class="textOverlay" itemprop="headline">
          <span>{{ title }}</span>
        </h2>
      </img>
  </div> 
</a>
{% if post.read_time %}
  <p class="page__meta" style="margin-top:0;"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
{% endif %}
{% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description" style="margin-top:0;">{{ post.excerpt | markdownify | strip_html | truncate: 300 }}</p>{% endif %}
